# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directory
**/node_modules/**

# Nix
/result

# Others
/.direnv
dist/
.envrc
.vscode-test
*.vsix
**/*.DS_Store
*.exe
.pnpm-store
*.tsbuildinfo
