name: 1/2. Bump and release a stable extension version

# This workflow covers both '1_check_for_updates' and '2_bump_versions' workflows, therefore it is another variant of the same, but specifically for extension only, without any Prisma CLI updates that would need to be handled.

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Type of release to perform'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

concurrency:
  group: version-management
  cancel-in-progress: false

env:
  ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
  PRISMA_TELEMETRY_INFORMATION: 'language-tools 1_2_stable_extension_release.yml'

jobs:
  bump:
    runs-on: ubuntu-latest
    timeout-minutes: 7
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PRISMA_BOT_TOKEN }}
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install Dependencies
        run: npm install && npm run bootstrap
        shell: bash
      - name: Setup Git
        run: |
          sh scripts/set_git_credentials.sh
      - name: Update extension version in scripts folder
        id: update
        run: node scripts/bump_extension_version.js extension-${{ github.event.inputs.release_type }}-release
      - name: Commit and Push
        run: |
          sh scripts/commit_and_push.sh "[skip ci] bump extension version in scripts to ${{ steps.update.outputs.next_extension_version }}."
      - name: Update VS Code extension version
        run: |
          node scripts/update_package_json_files.js latest ${{ steps.update.outputs.next_extension_version }} ""
      - name: Install Dependencies
        run: npm install && npm run bootstrap
      - name: Commit and Push
        run: |
          sh scripts/commit_and_push.sh "[skip ci] bump extension version in package.json to ${{ steps.update.outputs.next_extension_version }}."

      - name: Trigger next workflow for Language Server tests
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: 3. Test Language Server and publish
          token: ${{ secrets.PRISMA_BOT_TOKEN }}
          inputs: '{ "trigger": "stable-release", "extension_version": "${{ steps.update.outputs.next_extension_version }}", "branch": "main", "trigger_reason": "Manual ${{ github.event.inputs.release_type }} stable extension release" }'
