name: Check for Prisma CLI Update

on:
  schedule:
    - cron: '*/5 * * * *'

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
  PRISMA_TELEMETRY_INFORMATION: "language-tools 1_check_for_update.yml"

jobs:
  check:
    name: Check for Prisma CLI update
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Check for Prisma CLI update
        id: check_update
        run: node scripts/check_for_update.js
      
      - name: Invoke bump workflow with inputs for dev
        if: ${{ steps.check_update.outputs.dev_version }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Bump versions
          token: ${{ secrets.GH_TOKEN }}
          inputs: '{ "npm_channel": "dev", "version": "${{ steps.check_update.outputs.dev_version }}" }'
      
      - name: Invoke bump workflow with inputs for latest
        if: ${{ steps.check_update.outputs.latest_version }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Bump versions
          token: ${{ secrets.GH_TOKEN }}
          inputs: '{ "npm_channel": "latest", "version": "${{ steps.check_update.outputs.latest_version }}" }'
      
      - name: Invoke bump workflow with inputs for patch-dev
        if: ${{ steps.check_update.outputs.patch-dev_version }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Bump versions
          token: ${{ secrets.GH_TOKEN }}
          inputs: '{ "npm_channel": "patch-dev", "version": "${{ steps.check_update.outputs.patch-dev_version }}" }'
