name: 1. Check for Prisma CLI Update

on:
  push:
    branches:
      - main
  # schedule:
  #   - cron: '*/5 * * * *'
  workflow_dispatch:

env:
  ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
  PRISMA_TELEMETRY_INFORMATION: 'language-tools 1_check_for_update.yml'

jobs:
  check:
    name: Check for Prisma CLI update
    runs-on: ubuntu-latest
    timeout-minutes: 7
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install Dependencies
        run: npm install

      # First it runs this
      - name: Check for Prisma CLI update
        id: check_update
        run: node scripts/check_for_update.js

      # ... and depending on the output any (or none) of these 3:
      - name: Invoke bump workflow with inputs for dev
        if: ${{ steps.check_update.outputs.dev_version }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: 2. Bump versions
          token: ${{ secrets.PRISMA_BOT_TOKEN }}
          inputs: '{ "npm_channel": "dev", "version": "${{ steps.check_update.outputs.dev_version }}" }'
      - name: Invoke bump workflow with inputs for latest
        if: ${{ steps.check_update.outputs.latest_version }}
        run: |
          gh workflow run 2_bump_versions.yml \
            --ref ${{ github.ref }} \
            --field npm_channel=latest \
            --field version=${{ steps.check_update.outputs.latest_version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GIHTHUB_TOKEN }}
      - name: Invoke bump workflow with inputs for patch-dev
        if: ${{ steps.check_update.outputs.patch_dev_version }}
        run: |
          gh workflow run 2_bump_versions.yml \
            --ref ${{ github.ref }} \
            --field npm_channel=patch-dev \
            --field version=${{ steps.check_update.outputs.patch_dev_version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GIHTHUB_TOKEN }}
      # - name: 'Set current job url in SLACK_FOOTER env var'
      #   if: ${{ failure() }}
      #   run: echo "SLACK_FOOTER=<$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID|Click here to go to the job logs>" >> $GITHUB_ENV

      # - name: Slack Notification on Failure
      #   if: ${{ failure() }}
      #   uses: rtCamp/action-slack-notify@v2.3.2
      #   env:
      #     SLACK_TITLE: '1. Checking for Prisma CLI Update failed :x:'
      #     SLACK_COLOR: '#FF0000'
      #     SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_FAILURES }}
      #     SLACK_CHANNEL: feed-language-tools-failures
      #     SLACK_USERNAME: Prismo
      #     SLACK_ICON_EMOJI: ':boom:'
      #     SLACK_MSG_AUTHOR: prisma-bot
