name: 5. Integration tests in VSCode folder with published LSP

on:
  workflow_dispatch:
    inputs:
      npm_channel:
        description: 'Prisma CLI NPM Channel'
        required: true
      extension_version:
        description: 'VSCode extension version'
        required: true
      branch:
        description: 'Branch to run run this workflow on'
        required: true
      trigger_reason:
        description: 'Information about what caused the publishing process in the first place.'
        required: true
env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
  PRISMA_TELEMETRY_INFORMATION: 'language-tools 5_e2e_tests.yml'

jobs:
  tests:
    name: Integration tests in VSCode folder with published LSP
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install Dependencies
        run: npm install
      - name: Compile
        run: npm run compile
      - name: Headless e2e tests
        uses: GabrielBB/xvfb-action@v1.6
        with:
          run: npm run test

  trigger:
    name: Trigger next workflow
    needs: [tests]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Print inputs
        run: |
          echo ${{github.event.inputs.npm_channel}}
          echo ${{github.event.inputs.extension_version}}
          echo ${{github.event.inputs.branch}}
          echo ${{github.event.inputs.trigger_reason}}
      - name: Trigger next workflow to build extension
        if: ${{ needs.tests.result == 'success' }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: 6. Build extension
          token: ${{ secrets.GH_TOKEN }}
          inputs: '{ "npm_channel": "${{ github.event.inputs.npm_channel }}", "extension_version": "${{ github.event.inputs.extension_version }}", "branch": "${{github.event.inputs.branch}}", "trigger_reason": "${{github.event.inputs.trigger_reason}}" }'

      - name: Slack Notification on Failure
        if: ${{ failure() || needs.tests.result == 'failure' }}
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_TITLE: '5. Integration tests in VSCode folder with published LSP failed :x:'
          SLACK_COLOR: '#FF0000'
          SLACK_MESSAGE: '${{github.event.inputs.extension_version}} - ${{github.event.inputs.trigger_reason}} '
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_FAILURES }}
          SLACK_CHANNEL: feed-language-tools-failures
          SLACK_USERNAME: Prismo
          SLACK_ICON_EMOJI: ':boom:'
          SLACK_MSG_AUTHOR: prisma-bot
