name: CI tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'LICENSE'
      - '**.md'
      - '.vscode/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/CODEOWNERS'
      - 'flake.nix'
      - 'flake.lock'
      - 'renovate.json'
  pull_request:
    paths-ignore:
      - 'LICENSE'
      - '**.md'
      - '.vscode/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/CODEOWNERS'
      - 'flake.nix'
      - 'flake.lock'
      - 'renovate.json'

env:
  PRISMA_TELEMETRY_INFORMATION: 'language-tools continuous-integration.yml'

jobs:
  test:
    name: Tests + Shellcheck
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install Dependencies
        run: npm install && npm run bootstrap
      - name: Build all packages
        run: npm run compile
      - name: Run Language Server tests
        run: npx lerna run test --scope @prisma/language-server
      - name: Run VS Code extension tests in headless mode
        uses: coactions/setup-xvfb@v1
        with:
          run: npm test "useLocalLS"
      - name: Catch shell script issues
        if: matrix.os == 'ubuntu-latest'
        run: npm run shell:lint
      - name: Catch version incompatibilities
        if: matrix.os == 'ubuntu-latest'
        run: npm run testScripts
      - uses: codecov/codecov-action@v4
        with:
          files: ./scripts/__tests__/coverage/clover.xml,./packages/language-server/coverage/clover.xml
          flags: ${{ matrix.os }}
          name: ${{ matrix.os }}
