name: CI tests

on: [pull_request]

env:
  PRISMA_TELEMETRY_INFORMATION: "language-tools continuous-integration.yml"

jobs:
  test:
    name: Tests + Shellcheck
    runs-on:  ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: npm install
      - name: Compile
        run: npm run compile
      - name: Unit tests
        run: cd packages/language-server && npm test
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1.4
        with:
          run: npm test "useLocalLSP"
      - name: Catch shell script issues
        if: matrix.os == 'ubuntu-latest'
        run: npm run shell:lint
      - name: Catch version incompatibilities
        if: matrix.os == 'ubuntu-latest'
        run: npm run testScripts

        
