name: CI tests
on:
  pull_request:
    paths-ignore:
      - 'LICENSE'
      - 'README.md'
      - 'SECURITY.md'
      - '.vscode/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/CODEOWNERS'

env:
  PRISMA_TELEMETRY_INFORMATION: 'language-tools continuous-integration.yml'

jobs:
  test:
    name: Tests + Shellcheck
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Dependencies
        run: npm install
      - name: Compile
        run: npm run compile
      - name: Unit tests
        run: cd packages/language-server && npm test
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1.6
        with:
          run: npm test "useLocalLSP"
      - name: Catch shell script issues
        if: matrix.os == 'ubuntu-latest'
        run: npm run shell:lint
      - name: Catch version incompatibilities
        if: matrix.os == 'ubuntu-latest'
        run: npm run testScripts
