name: Check for Update + Patch Release

on:
  schedule:
  # the script takes about 12-19 minutes, so in order to not have two processes start together, this is set to 20
    - cron: '*/20 * * * *'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ENVIRONMENT: ${{ secrets.ENVIRONMENT }}

jobs:
  setup:
    name: Check for Updates
    runs-on: ubuntu-latest
    if: endsWith(github.ref, '/master')
    outputs:
      patch-version: ${{ steps.check_for_updates.outputs.patch-version }}
      lsp-not-published: ${{ steps.check_lsp_version.outputs.lsp-not-published }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: npm install
      - name: Setup patch branch
        run: npm run setup:patch
      - name: Check for Update
        run: npm run vsce:check "patch-dev" 
        id: check_for_updates
      - name: Check existing LSP version
        if: ${{ steps.check_for_updates.outputs.patch-version }}
        id: check_lsp_version
        run: npm run check:lsp ${{ steps.check_for_updates.outputs.patch-version }}
  
  test-lsp:
    name: Test LSP
    needs: setup
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    if: ${{ needs.setup.outputs.lsp-not-published }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: npm install
      - name: Setup patch branch
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm run setup:patch
      - name: Bump versions
        # Jobs do not share workspace --> bump versions again
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm run vsce:bump "patch-dev" ${{ needs.setup.outputs.patch-version }}
      - name: Install Dependencies in LSP
        run: cd packages/language-server && npm install
      - name: Compile LSP
        run: cd packages/language-server && npm run build
      - name: LSP unit tests
        run: cd packages/language-server && npm test

  publish-lsp:
    name: Publish LSP to npm
    needs: [setup, test-lsp]
    runs-on: ubuntu-latest
    if: ${{ needs.setup.outputs.lsp-not-published }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: npm install
      - name: Setup patch branch
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm run setup:patch
      - name: Bump versions
        # Jobs do not share workspace --> bump versions again
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm run vsce:bump "patch-dev"  ${{ needs.setup.outputs.patch-version }}
      - name: Install Dependencies in LSP
        run: cd packages/language-server && npm install
      - name: Compile LSP
        run: cd packages/language-server && npm run build
      - name: Publish LSP to npm
        # Setup .npmrc file to publish to npm
        uses: actions/setup-node@v1
        with: 
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org'
      - run: cd packages/language-server && npm publish --tag patch-dev  --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN}}

  test-extension:
    name: Extension integration tests
    needs: [setup, test-lsp, publish-lsp]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    if: always()
    steps: 
      - uses: actions/checkout@v2
      - name: Install Dependencies
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm install
      - name: Setup patch branch
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm run setup:patch
      - name: Bump versions
        # Jobs do not share workspace --> bump versions again
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm run vsce:bump "patch-dev"  ${{ needs.setup.outputs.patch-version }}
      - name: Install Dependencies
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm install
      - name: Compile
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm run compile
      - name: Headless e2e tests
        if: ${{ needs.setup.outputs.patch-version }}
        uses: GabrielBB/xvfb-action@v1.0
        with:
          run: npm run test

  publish-insider: 
    name: Publish insider extension
    runs-on: ubuntu-latest
    needs: [setup, test-lsp, publish-lsp, test-extension]
    if: always() && ${{ needs.setup.outputs.patch-version }}
    env: 
      AZURE_DEVOPS_PERSONAL_ACCESS_TOKEN: ${{ secrets.AZURE_DEVOPS_PERSONAL_ACCESS_TOKEN }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      SLACK_CHANNEL: feed-language-tools
      SLACK_USERNAME: Prismo
      SLACK_ICON_EMOJI: ":ship:"
      SLACK_MESSAGE: ${{ needs.setup.outputs.patch-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: npm install
      - name: Setup patch branch
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm run setup:patch
      - name: Bump versions
        # Jobs do not share workspace --> bump versions again
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm run vsce:bump "patch-dev"  ${{ needs.setup.outputs.patch-version }}
      - name: Install Dependencies
        run: npm install
      - name: Compile
        run: npm run compile
      - name: Publish extension as Patch to open-vsx.org
        if: ${{ needs.setup.outputs.patch-version }}
        env:
          OPEN_VSX_ACCESS_TOKEN: ${{ secrets.OPEN_VSX_ACCESS_TOKEN }}
        run: cd packages/vscode && npx ovsx publish -p "$OPEN_VSX_ACCESS_TOKEN"
      - name: Publish Extension as Patch to Marketplace
        if: ${{ needs.setup.outputs.patch-version }}
        run: npm run vsce:publish "patch-dev" ${{ needs.setup.outputs.patch-version }}
      - name: Slack Notification on Failure
        if: ${{ needs.setup.result == 'failure' || needs.test-extension.result == 'failure' || failure() }}
        uses: rtCamp/action-slack-notify@v2.0.2
        env:  
          SLACK_TITLE: "Publishing insider failed :x:"
          SLACK_COLOR: '#FF0000'

      - name: Slack Notification on Success
        if: ${{ needs.test-extension.result == 'success' && success() && needs.setup.outputs.patch-version }}
        uses: rtCamp/action-slack-notify@v2.0.2
        env:  
          SLACK_TITLE: "Published insider :white_check_mark:"
          SLACK_COLOR: '#008000'
  
  publish-stable:
    name: Publish Patch on Stable
    runs-on: ubuntu-latest
    needs: [setup, test-extension, publish-insider]
    if: ${{ needs.setup.outputs.patch-version }}
    env:
      AZURE_DEVOPS_PERSONAL_ACCESS_TOKEN: ${{ secrets.AZURE_DEVOPS_PERSONAL_ACCESS_TOKEN }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      SLACK_CHANNEL: feed-language-tools
      SLACK_USERNAME: Prismo
      SLACK_ICON_EMOJI: ":ship:"
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: npm install
      - name: Checkout patch branch
        run: npm run setup:patch
      - name: Bump versions
        # Jobs do not share workspace --> bump versions again
        if: ${{ needs.setup.outputs.patch-version }}
        id: bump
        run: npm run vsce:bump "latest"  "toBeCreated"
      - name: Compile
        run: npm run compile
      - name: Publish LSP to npm
        # Setup .npmrc file to publish to npm
        uses: actions/setup-node@v1
        with: 
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org'
      - run: cd packages/language-server && npm publish --tag latest --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN}}
      - name: Install Dependencies
        run: npm install
      - name: Compile
        run: npm run compile
      - name: Publish extension as Patch to open-vsx.org
        env:
          OPEN_VSX_ACCESS_TOKEN: ${{ secrets.OPEN_VSX_ACCESS_TOKEN }}
        run: cd packages/vscode && npx ovsx publish -p "$OPEN_VSX_ACCESS_TOKEN"
      - name: Publish Extension as Patch to Marketplace
        run: npm run vsce:publish "latest" ${{ steps.bump.outputs.version }}
      - name: Slack Notification on Failure
        if: ${{ needs.setup.result == 'failure' || needs.test-extension.result == 'failure' || failure() }}
        uses: rtCamp/action-slack-notify@v2.0.2
        env:  
          SLACK_TITLE: "Publishing insider failed :x:"
          SLACK_COLOR: '#FF0000'
          SLACK_MESSAGE: ${{ steps.bump.outputs.version }}

      - name: Slack Notification on Success
        if: ${{ needs.test-extension.result == 'success' && success() && needs.setup.outputs.patch-version }}
        uses: rtCamp/action-slack-notify@v2.0.2
        env:  
          SLACK_TITLE: "Published insider :white_check_mark:"
          SLACK_COLOR: '#008000'
          SLACK_MESSAGE: ${{ steps.bump.outputs.version }}

      
       
      