name: PR Build extension

on:
  pull_request:
    paths-ignore:
      - 'LICENSE'
      - 'README.md'
      - 'SECURITY.md'
      - '.vscode/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/CODEOWNERS'

env:
  ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
  PRISMA_TELEMETRY_INFORMATION: 'language-tools PR_build_extension.yml'

jobs:
  build:
    name: Build extension
    # Only runs for Prisma repo, as this will fail on a PR from a fork
    if: github.repository == 'prisma/language-tools'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      tag_name: ${{ steps.names.outputs.tag_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      # Build the extension
      - name: Install Dependencies
        run: pnpm install
      - name: Build all packages
        run: pnpm build
      - name: Replace Readme for marketplace
        run: node scripts/change_readme.js insider
      - name: Update VS Code extension name
        run: |
          node scripts/update_package_json_file_PR_build.js
        env:
          PR_NUMBER: ${{ github.event.number }}
      - name: Build vsix
        run: cd packages/vscode && pnpm package --out=prisma.vsix

      # Upload to the current job run
      # This is very limited: Only 90 days rentention and cannot get a link easily
      - uses: actions/upload-artifact@v4
        with:
          name: pr-artifact
          path: ./packages/vscode/*.vsix
