name: PR Build extension

on:
  pull_request:
    paths-ignore:
      - 'LICENSE'
      - 'README.md'
      - 'SECURITY.md'
      - '.vscode/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/CODEOWNERS'

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
  PRISMA_TELEMETRY_INFORMATION: 'language-tools PR_build_extension.yml'
  SLACK_USERNAME: Prismo
  SLACK_ICON_EMOJI: ':ship:'
  SLACK_MSG_AUTHOR: prisma-bot

jobs:
  build:
    name: Build extension
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.names.outputs.tag_name }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'

      - name: Print things
        run: |
          npm -v
          node -v

      # Build the extension
      - name: Install Dependencies
        run: npm install && npm run bootstrap
      - name: Build all packages
        run: npm run compile
      - name: Replace Readme for marketplace
        run: node scripts/change_readme.js dev
      - name: Build vsix
        run: cd packages/vscode && npm run package -- --out=prisma.vsix

      # This is very limited
      # Only 90 days rentention and cannot get a link easily
      - uses: actions/upload-artifact@v3
        with:
          name: pr-artifact
          path: ./packages/vscode/*.vsix

      - name: Add artifact to PR
        uses: gavv/pull-request-artifacts@v1.0.0
        with:
          commit: ${{ github.event.pull_request.head.sha }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          artifacts-branch: artifacts
          artifacts-dir: pull-request-artifacts
          artifacts: |
            ./packages/vscode/prisma.vsix

  slack:
    name: Send slack notification
    runs-on: ubuntu-latest
    needs: [build]
    if: always()
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: 'Set current job url in SLACK_FOOTER env var'
        if: ${{ always() }}
        run: echo "SLACK_FOOTER=<$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID|Click here to go to the job logs>" >> $GITHUB_ENV

      - name: Slack Notification on Failure
        if: ${{ failure() || needs.build.result == 'failure' }}
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_TITLE: 'PR Build extension failed :x:'
          SLACK_COLOR: '#FF0000'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_FAILURES }}
          SLACK_CHANNEL: feed-language-tools-failures
