name: Automatic Publish

on:
  push:
    branches:
      - master
  schedule:
    - cron: '*/5 * * * *'

env:
  PAT: ${{ secrets.PAT }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  PRODUCTION: ${{ secrets.PRODUCTION }}

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    if: endsWith(github.ref, '/master')
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: npm install
      - name: Publish Extension as Patch
        run: yarn vsce:check
